In [ ]:
# 다음 리스트에서 "apple" 요소를 출력하세요.
fruits = ["banana", "apple", "orange", "cherry"]
print(fruits[1])

apple

In [ ]:
# 다음 리스트에서 마지막 요소를 출력하세요.
numbers = [10, 20, 30, 40, 50]
print(numbers[-1])

50

In [ ]:
# 다음 리스트에서 "banana" 요소를 "grape"로 변경하세요.
fruits = ["apple", "banana", "cherry"]
fruits[1] = "grape"
print(fruits)

['apple', 'grape', 'cherry']

In [ ]:
# 다음 리스트에 "strawberry" 요소를 추가하세요.
fruits = ["apple", "banana", "cherry"]
fruits.append("strawberry")
print(fruits)

['apple', 'banana', 'cherry', 'strawberry']

In [ ]:
# 다음 리스트에서 30을 제거하세요.
numbers = [10, 20, 30, 40, 50]
numbers.remove(30)
print(numbers)

[10, 20, 40, 50]

In [ ]:
# 다음 리스트의 길이를 출력하세요.
numbers = [5, 10, 15, 20, 25]
print(len(numbers))

5

In [ ]:
# 다음 리스트에서 가장 작은 값/가장 큰 값을 찾아 출력하세요.
numbers = [10, 5, 8, 3, 15]
print(min(numbers))
print(max(numbers))

3
15

In [ ]:
# 다음 리스트의 모 든 요소의 합을 게산하여 출력하세요.
numbers = [10, 20, 30, 40, 50]
print(sum(numbers))

150

In [ ]:
def square(numbers) :
  new_list = []
  for i in numbers :
    new_list.append(i**2)
  return new_list

new = square([1,2,3,4,5])
print(new)

[1, 4, 9, 16, 25]

In [ ]:
# 다음 리스트의 모든 요소를 제곱하여 새로운 리스트를 생성하세요.
numbers = [1, 2, 3, 4, 5]

new_list = []
for i in numbers :
  new_list.append(i**2)

print(new_list)

[1, 4, 9, 16, 25]

In [ ]:
# 다음 리스트에서 "apple" 요소의 개수를 출력하세요.
fruits = ["apple", "banana", "apple", "cherry", "apple"]
print(fruits.count("apple"))

3

In [ ]:
def add(a, b) :
  result = a + b
  return result

sum_result = add(3,5)
print(sum_result)

8

In [ ]:
def square(x) :
  return x**2

ret = square(5)
print(ret)

25

In [ ]:
def square(x) :
  result = x**2
  return result
square(5)
print(square(5))
print(square(10))
print(square(15))
print(square(20))

25
100
225
400

In [ ]:
def BMI(h, w) :
  a = w / (0.01*h)**2
  return a

result = BMI(190,90)
print(result)

24.93074792243767