In [6]:
a=5
# 조건에 따라 실행되는 것
if a>5:
    print("A는 5보다 크다")
# if의 영향을 받지 않음 (들여쓰기에 따라 실행의 제어 달라짐)
print("프로그램종료")

프로그램종료

In [9]:
a=10
if a>5:
  print("a는 5보다 크다")
elif a<=5:
  print("a는 5이하입니다")

a는 5보다 크다

In [14]:
# a에 할당된 값의 짝수 홀수 여부를 알려주는 프로그램

a = 10

if a % 2 == 1:
  print("a는 홀수입니다.")
elif a % 2 == 0:
  print("a는 짝수입니다.")

a는 짝수입니다.

In [15]:
a = 5

if a % 2 == 1:
  print("a는 홀수입니다.")
elif a % 2 == 0:
  print("a는 짝수입니다.")

a는 홀수입니다.

In [17]:
a=5
if a>5:
  print("a는 5보다 크다")
elif a<5:
  print("a는 5보다 작다")
else:
  print("a는 5입니다")

a는 5입니다

In [19]:
a = 10
b = 10

if a > 5:
    if b < 10:
        print("a는 5보다 크고 b는 10보다 작습니다.")

In [20]:
a = 10
b = 5

if a > 5 and b < 10:
  print("a는 5보다 크고 b는 10보다 작습니다.")

a는 5보다 크고 b는 10보다 작습니다.

In [32]:
score = int(input("점수를 입력하세요 (0-100) : "))

if score >= 90:
  grade = "A"
elif score >= 80:
  grade = "B"
elif score >= 70:
  grade = "C"
elif score >= 60:
  grade = "D"
else:
  grade = "F"

print("등급은 %s입니다."%grade)

점수를 입력하세요 (0-100) : 90
등급은 A입니다.

In [40]:
a=[1,2,3,4,5,6,7,8,9,10]
tot=0
for i in a:
  print(i)
  tot=tot+i
print(tot)

1
2
3
4
5
6
7
8
9
10
55

In [51]:
for i in range(5) :
  if i % 2 == 1:
    break
  print(i)

0

In [46]:
# 1에서 100까지 홀수만 찍어보기
for i in range(1,100,2) :
  print(i)

# 1에서 100까지 짝수만 찍어보기
for i in range(2,101,2) :
  print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [59]:
# 1부터 10까지 홀수의 합, 짝수의 합 각각 구하기

total_1 = 0
total_2 = 0

for i in range (1,11) :
  if i % 2 == 1 :
    total_1 = total_1 + i
  else :
    total_2 = total_2 + i

print(total_1)
print(total_2)

25
30

In [60]:
# 하나의 숫자 n를 입력 받아서 때, 1부터 n까지 합을 구하는 프로그램을 작성하시오.

n = int(input())
total = 0
for i in range(1,n+1):
  total += i
print(total)

3
6